{{ define "likes" }}
<button class="btn btn-outline-primary btn-sm">
    <i
        class="fas fa-heart like-post"
        style="cursor: pointer"
    ></i>
</button>
{{ end }}

{{ define "edit" }}
<a
    href="/posts/{{ .ID }}/edit"
    style="text-decoration: none"
    class="btn btn-sm btn-outline-primary"
>
    <i class="fa fa-edit"></i>
</a>
{{ end }}

{{ define "delete" }}
<button class="btn btn-sm btn-outline-danger">
    <i
        class="fa fa-trash delete-post"
        style="cursor: pointer"
    ></i>
</button>
{{ end }}

{{ define "post-author" }}
{{ .CreateAt.Format "02-01-2006" }}
{{.AuthorNick }}
{{ end }}

{{ define "post-with-allow" }}
<div
    class="card mb-2 border-start-0 border-top-0 border-end-0 bg-light"
    data-post-id="{{ .ID }}"
>
    <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <div class="card-text">
            {{ .Content }}
            <p class="text-muted mt-4 footer-post">
                <i class="far fa-calendar-alt"></i> {{ .CreateAt.Format "02-01-2006" }}
                <i class="fas fa-user-circle"></i> {{ .AuthorNick }}
                <i class="fas fa-heart text-primary like-counter"></i> {{ .Likes }}
            </p>
        </div>
        {{ template "likes" . }}
        {{ template "edit" . }}
        {{ template "delete" . }}
    </div>
</div>
{{ end }}

{{ define "post-without-allow" }}
<div
    class="card mb-2 border-start-0 border-top-0 border-end-0 bg-light"
    data-post-id="{{ .ID }}"
>
    <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <div class="card-text">
            {{ .Content }}
            <p class="text-muted mt-4 footer-post">
                <i class="far fa-calendar-alt"></i> {{ .CreateAt.Format "02-01-2006" }}
                <i class="fas fa-user-circle"></i> {{ .AuthorNick }}
            </p>
        </div>
        {{ template "likes" . }}
    </div>
</div>
{{ end }}