<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>DevBook Login</title>

        <link
            rel="stylesheet"
            href="/assets/css/login.css"
        />
        <link
            rel="stylesheet"
            href="/assets/css/iziToast.min.css"
        />
    </head>

    <body>
        <div class="container-login">
            <div>
                <form
                    class="devbook-form"
                    id="login"
                >
                    <span>Seja bem vindo ao DevBook</span>
                    <div>
                        <input
                            type="text"
                            name="email"
                            id="email"
                            placeholder="Enter your email address"
                            required
                        />
                    </div>
                    <div>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Enter your password"
                            required
                        />
                    </div>
                    <p class="p-with-link">
                        Click <a href="/enroll">here</a> to enroll
                    </p>
                    <button
                        type="submit"
                        class="btn-devbook"
                    >Login</button>
                </form>
            </div>
        </div>

        {{ template "_scripts" }}
        <script src="/assets/js/login.js"></script>
    </body>

</html>